body{
	padding: 0px;
	margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes fading{
    0%{
        opacity: 0;
    }5%{
        opacity: 1;
        transform: scale3d(1.2,1.2,1.2);
    }
}

.container{
    margin-left: 5%;
    position: absolute;
    transform: translate(-20%);
    margin-top: 0px;
    width: 10px;
    height: 10px;
    margin-top: -1%;
}

.search-box input{

    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 14px;
    font-family: "Copperplate";
    line-height: 25px;
}

.search-box input:hover{
    cursor: pointer;
    background-color: rgba(74,74,74,0.2)
}

.search-box input:hover:focus{
    cursor: text;
}

.search-box input:hover + span{
    background-color: rgba(74,74,74,0.2);
}

.search-box input:focus{
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: rgba(74,74,74,0.65);
}

.search-box input + span{
    width: 200px;
}

.search-box input:focus + span{
    width: 200px;
}

.search-box input:focus + span:before{
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
}

.search-box input + span{
    z-index: -1;
    position: absolute;
    border: 2px solid rgba(74,74,74,0.65);;
    top: 0;
    width: 16px;
    height: 16px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0;
}

.search-box input + span::before{
    transition: all 0.25s ease-in 0.25s;
    transform-origin: left top;
    content: ' ';
    position: absolute;
    width: 10px;
    height: 4px;
    border-radius: 5px;
    background: rgba(74,74,74,0.65);
    transform: rotate(45deg) translate(21px, -2px);

}

.navigationBar{
    z-index: 999999;
    position: fixed;
    background-color: rgba(255,255,255,0.75);
    width: 100vw;
    height: 75px;
    margin: 0px;
}
.navigationBar ul{
    position: -webkit-sticky;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    width: 100%;
    height: 65px;
}


/*malika added*/

/*malika added*/

.navigationBar ul li{
    /*float: left;*/
    display: inline-block;
}

.navigationBar:hover li{
    font-style: normal;
    font-family: "Copperplate" sans-serif;
}

.navigationBar li a{
    font-family: "Copperplate";
    display: block;
    color: rgba(74,74,74,0.65);
    text-align: center;
    font-size: 18px;
    padding: 25px 65px;
    text-decoration: none;
}

.navigationBar li a:active{
    color: rgba(98, 112, 170, 1);
}

.navigationBar .search img{
    height: 17px;
    width: 17px;
}

.navigationBar .search img:hover{
    color: orange;
    opacity: 0.5;
}

.navigationBar .musifyme a{
    margin: 0px;
    font-family: "Avenir Next";
    display: block;
    color: rgba(74,74,74,1);
    text-align: center;
    font-size: 26px;
    letter-spacing: 0.8px;
    font-weight: 100;
    padding-top: 15px;
    padding-right: 170px;
    padding-left: 55px;
    text-decoration: none;
}


.navigationBar .lists a:hover{
    color: orange;
}

.navigationBar .musifyme a:hover{
    color: orange;
    opacity: 1;
}

.first_imageBack{
    background-image: url("http://music.me/public/images/orkestr_royal_muzyka_scena_64320_3840x2400.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.first_cover{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}

.header{
    padding-top: 12%;
    font-family: "Phosphate";
    font-weight: 500;
    font-size: 53px;
    color: white;
    text-align: center;
    letter-spacing: 2.4px;
}

.swipe{
    text-align: center;
    padding-top: 2%;
    font-family: "Avenir Next";
    font-weight: 300;
    font-size: 35px;
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 0px;
    animation: fading 5s 1;
}

@keyframes fading{
    0%{
        opacity: 0;
    }5%{
        opacity: 1;
        transform: scale3d(0.8,0.8,0.8);
    }
}

.second_imageBack{
    background-image: url("http://music.me/public/images/Orchestral-52-Pic.png");
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

}

.second{
    background-color: rgba(0,0,0,0.80);
}

.tableHeader{
    font-family: "Phosphate";
    font-size: 65px;
    font-weight: 500;
    padding-top: 1%;
    margin: 0px;
    padding-bottom: 0px;
    color: white;
    padding-left: 45px;
}

.table_view{
    padding: 0;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    border-style: none;
    background-repeat: no-repeat;
    padding-bottom: 25px;
}

.btnTableView{
    border-spacing: 3%;
    padding-left: 5%;
    border-color: rgba(0,0,0,0);
    border-style: none;
    background-color: rgba(0,0,0,0);
}

.tableView td:hover{
    background-color: rgba(0,0,0,1);
}

.tableView{
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0px;
    margin: 0;

}

.table_view{
    overflow-y: hidden;
    overflow-x: auto;
}

table.table_view{
    padding-left: 120px;
}

img.table_view{
    width: 250px;
    height: 250px;
}

.third_imageBack{
    background-image: url("http://music.me/public/images/The_Pianist_Piano_Adrien_Brody_1920x1200.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.cover_third{
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#head a{
    float: left;
    font-family: "Avenir Next";
    font-size: 21px;
    color: white;
    padding-top: 8%;
    padding-left: 8%;
    text-decoration-color: white;
    text-decoration-style: none;
    text-decoration: none;
}

.medium{
    float: right;
    padding-top: 5%;
    text-align: right;
    padding-right: 50px;
    font-family: "Avenir Next";
    font-size: 31px;
    color: white;
}

.foot{
    padding-top: 45%;
    font-weight: 200;
    padding-left: 8%;
    font-family: "Avenir Next";
    font-size: 25px;
    color: rgba(255,255,255,0.65);
}

.forth_imageBack{
    background-image: url("/public/images/the-great-wave-of-kanagawa-art-room-820x532@2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.forth_imageBack button{
    background-color: rgba(0,0,0,0);
    border-color: none;
    border-style: none;
    border-spacing: 0px;
    border-collapse: collapse;

}

.cover_forth{
/*    background-color: rgba(66,66,66,0.64);*/
    width: 100vw;
    height: 100vh;
}

.forth_btn{
    background-color: rgba(66,66,66,0.54);
    width: 100vw;
    height: 100vh;
}

.medium2{
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: white;
    float: right;
    text-align: right;
    padding-top: 8%;
    margin-right: 8%;
    font-weight: 300;
    font-family: "Avenir Next";
    font-size: 55px;
    color: rgba(255,255,255,1);
}

.playBtnClassics{
    font-family: "Avenir Next";
    font-size: 35px;
    position: relative;
    float: left;
    padding-top: 15%;
    display: block;
    color: rgba(255,255,255,0.55);
    margin: 0;
}

.playBtnClassics img{
    float: left;
    padding-right: 20px;
    padding-left: 100px;
}

.playBtnClassics img:hover{
    opacity: 0.75;
}

.playBtnClassics p{
    float: left;
    text-align: center;
}


.footer{
    padding-top: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}

.footer .about{
    float: left; 
    width: 15%;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 10%;
}

.footer .about h2{
    font-family: "Avenir Next";
    text-align: center;
    font-weight: 600;
}

.footer .about p{
    text-align: justify;
    font-family: "Avenir Next";
    font-weight: 450;
}
.footer .about .links a{
    text-align: justify;
    font-size: 18px;
    font-family: "Avenir Next";
    font-weight: 450;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.musi{
    font-family: "Avenir Next";
    display: block;
    color: orange;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.8px;
    font-weight: 10;
    text-decoration: none;
}