body{
    padding: 0px;
    margin: 0px;
}


/*specify the fonts :: fonts.google.com*/

@keyframes kenburns{
    0%{
        opacity: 1;
        background-color: black;
    }
    5%{
        opacity: 1;
        background-color: black;
    }
    95%{
        transform: scale3d(1.2, 1.2, 1.2) translate3d(-10px, -10px, -120px);
        animation-timing-function: ease-in;
        opacity: 1;
        background-color: black;
    }
    100%{
        transform: scaleY(1.5, 1.5);
        opacity: 1;
        background-color: black;
    }
}

@keyframes fading{
    0%{
        opacity: 0;
    }5%{
        opacity: 1;
        transform: scale3d(1.2,1.2,1.2);
    }
}

.container{
    margin-left: 5%;
    position: absolute;
    transform: translate(-20%);
    margin-top: 0px;
    width: 10px;
    height: 10px;
    margin-top: 25px;
}

.search-box input{

    border: none;
    background: none;
    z-index: 1;
    width: 21px;
    height: 21px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 14px;
    font-family: "Copperplate";
    line-height: 21px;
}

.search-box input:hover{
    cursor: pointer;
}

.search-box input:hover:focus{
    cursor: text;
}

.search-box input:hover + span{
    background-color: rgba(255,255,255,0.2);
}

.search-box input:focus{
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: #fff;
}

.search-box input + span{
    width: 200px;
}

.search-box input:focus + span{
    width: 200px;
}

.search-box input:focus + span:before{
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
}

.search-box input + span{
    z-index: -1;
    position: absolute;
    border: 2px solid #fff;
    top: 0;
    width: 16px;
    height: 16px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0;
}

.search-box input + span::before{
    transition: all 0.25s ease-in 0.25s;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 11px;
    height: 4px;
    border-radius: 5px;
    background: #fff;
    transform: rotate(45deg) translate(21px, -2px);

}

.first_imageBack{
    background-color: black;
    position: -webkit-sticky;
    background-image: url("/public/images/head.jpeg");
    box-shadow: inset 0 0 5px 2px #000; /* mark the inset */
    background-repeat: no-repeat;
    height: 955px;
    width: 100%;
    padding-bottom: 0px;
    animation: kenburns 20s 1;
    overflow: hidden;
}

.swipeToStart{
    animation: fading 5s 1;
}

.navigationBar{
    z-index: 999999;
    position: fixed;
    background-color: rgba(0,0,0,0.45);
    width: 100vw;
    height: 75px;
    margin: 0px;
}
.navigationBar ul{
    position: -webkit-sticky;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    width: 100%;
    height: 65px;
}

.navigationBar li{
    float: left;
}

.navigationBar:hover li{
    font-style: normal;
    font-family: "Copperplate" sans-serif;
    color: red;
}

.navigationBar li a{
    font-family: "Copperplate";
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 25px 65px;
    text-decoration: none;
}

/*.navigationBar .search img{
    height: 17px;
    width: 17px;
}*/
.navigationBar .musifyme a{
    margin: 0px;
    font-family: "Avenir Next";
    display: block;
    color: rgba(98, 112, 170, 1);
    text-align: center;
    font-size: 26px;
    letter-spacing: 0.8px;
    font-weight: 100;
    padding-top: 15px;
    padding-right: 170px;
    padding-left: 55px;
    text-decoration: none;
}

.first_imageBack .navigationBar .lists a:hover{
    color: #333;
}

.first_imageBack .navigationBar .musifyme a:hover{
    color: #333;
    opacity: 0.7;
}

/*.navigationBar .search img:hover{
    color: #333;
    opacity: 0.4;
}*/

#exploreIndexHome{
    padding-top: 300px;
    text-align: center;
    font-weight: 450;
    letter-spacing: 4.54px;
    color: white;
    font-size: 55px;
    position: center;
    font-style: normal;
}

.first_imageBack .swipeToStart p{
    font-family: "Avenir Next";
    font-size: 45px;
    opacity: 0.35;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 0px;
    color: white;
}

.first_imageBack .arrowSwipe{
    margin: 0px;
    padding-top: 0px;
    text-align:  center;
    opacity:  100%;
}

.second_imageBack{
    padding-top: 0px;
    background-color: rgba(0,0,0,1);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.second_imageBack .headerForAlbum{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding-top: 100px;
    text-align: center;
    font-weight: 450;
    letter-spacing: 2.54px;
    font-family: "Copperplate";
    color: white;
    font-size: 45px;
    font-style: normal;
}

.playlist_table{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    border-spacing: 0px;
    width: 50%;
}

.playlist_table tr{
    border-bottom: 0.5px solid #333;
    border-right: 0px;
    border-left: 0px;
}

th.logo_playlist{
    height: 25px;
    width: 140px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 15px;
}

th.logo_playlist img{
    height: 25px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: auto;
}

th.playBtn img{
    height: 25px;
    width: 25px;
    float: right;
    padding-right: 50px;
}
th.playBtn button{
    background-color: rgba(0,0,0,0);
    border-style: none;
}

th.playBtn img:hover{
    background-color: rgba(3,3,3,0.85);
}

.playlist_table p{
    font-family: "Copperplate";
    font-size: 21px;
    color: white;
}

tr.headerPlaylist{
    background-color: rgba(0,0,0,0.35);
}

tr.other{
    background-color: rgba(255,255,255,0.05);
}

.other p{
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.other .logo_playlist tr{
    width: 75px !important;
    max-width: 75px;
    margin-right: 0px !important;;
    padding-right: 15px;
    min-width: 50px;
}

.other .logo_playlist img{
    height: 50px;
    width: 50px;
    padding-left: 15px;
}

td.duration{
    width: 45px !important;
}

p.duration{
    padding-top: 0px;
    margin-top: 0px;
    font-size: 14px;
    opacity: 0.75;
}

td.name_of_song{
    /*padding-left: 50px;*/
    padding-right: 50px;
    text-align: left;
    width: 250px;
}

.playlist_table p.nameOfArtist{
    color: #333;
    font-size: 14px;
}

.sidebarTitles{
    margin-top: 5%;
    color: white;
    float: right;
    width: auto;
    padding-right: 20%;
}

.sidebarTitles p{
    margin-top: 0px;
    padding-left: 8%;
    display: inline-block;
    font-family: "Avenir Next";
    text-align: right;
    font-size: 25px;
    letter-spacing: 2.54px;
    padding-bottom: 54px;
}
div.second_page div{
    display: inline-block;
    padding-left: 50px;
    padding-top: 0px;
}

.secondlineofthehead{
    opacity: 0.54;
}

.AuthorImageBack{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,1);
    margin: 0;
    padding: 0;
}

.header_authors p{
    color: white;
    font-family: "Copperplate";
    font-size: 45px;
    margin: 0px;
    padding-left: 8%;
}

.header_authors hr{
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 8.5%;
}


#authors{
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 0px;
    text-align: center;
    display: inline-grid;
    background-color: white;
    width: 25%;
    height: 50%;
    border-color: #333;
    border-radius: 3%;
    border-style: solid;
}

#authors img{
    border-radius: 50%;
    border-style: solid;
    size: cover;
    border-color: #333;
    border-width: 0.5px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 216px;
    height: 216px;
    background-color: #333;
}

#authors h3, p{
    font-family: "Copperplate";
    font-style: sans-serif;
    font-weight: 200;

}

#authors h3{
    font-size: 35px;
}


.data{
    padding-top: 3%;
    text-align: center;
}

.albums_num{
    text-align: center;
    padding: 1.5%;
    float: left;
    color: white;
    font-family: "Copperplate";
}

.albums_num h3{
    font-weight: 200;
    letter-spacing: 2.4px;
    font-size: 24px;
    text-align: center;
    padding-left: 12%;
}

.albums_num p{
    margin: 5%;
    padding-left: 12%;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2.4px;
    color: rgba(255,255,255,0.75);
}



.footer{
    position: absolute;
    width: 100%;
    background-color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}

.footer .about{
    float: left; 
    width: 15%;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 10%;
}

.footer .about h2{
    font-family: "Avenir Next";
    text-align: center;
    font-weight: 600;
}

.footer .about p{
    text-align: justify;
    font-family: "Avenir Next";
    font-weight: 450;
}
.footer .about .links a{
    text-align: justify;
    font-size: 18px;
    font-family: "Avenir Next";
    font-weight: 450;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.musi{
    font-family: "Avenir Next";
    display: block;
    color: rgba(98, 112, 170, 1);
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.8px;
    font-weight: 10;
    text-decoration: none;
}


/*
div.second_page{
    text-align: center;
}*/
