body{
	padding: 0px;
	margin: 0px;
	background-color: black;
}

@keyframes fading{
    0%{
        opacity: 0;
    }5%{
        opacity: 1;
        transform: scale3d(1.2,1.2,1.2);
    }
}

.container{
    margin-left: 5%;
    position: absolute;
    transform: translate(-20%);
    margin-top: 0px;
    width: 10px;
    height: 10px;
    margin-top: -1%;
}

.search-box input{

    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 14px;
    font-family: "Copperplate";
    line-height: 25px;
}

.search-box input:hover{
    cursor: pointer;
    background-color: rgba(74,74,74,0.2)
}

.search-box input:hover:focus{
    cursor: text;
}

.search-box input:hover + span{
    background-color: rgba(74,74,74,0.2);
}

.search-box input:focus{
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: rgba(74,74,74,0.65);
}

.search-box input + span{
    width: 200px;
}

.search-box input:focus + span{
    width: 200px;
}

.search-box input:focus + span:before{
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
}

.search-box input + span{
    z-index: -1;
    position: absolute;
    border: 2px solid rgba(74,74,74,0.65);;
    top: 0;
    width: 16px;
    height: 16px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0;
}

.search-box input + span::before{
    transition: all 0.25s ease-in 0.25s;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 4px;
    border-radius: 5px;
    background: rgba(74,74,74,0.65);
    transform: rotate(45deg) translate(21px, -2px);

}

.navigationBar{
    z-index: 999999;
    position: fixed;
    background-color: rgba(255,255,255,0.75);
    width: 100vw;
    height: 75px;
    margin: 0px;
}
.navigationBar ul{
    position: -webkit-sticky;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    width: 100%;
    height: 65px;
}

.navigationBar ul li{
    /*float: left;*/
    display: inline-block;
}

.navigationBar:hover li{
    font-style: normal;
    font-family: "Copperplate" sans-serif;
}

.navigationBar li a{
    font-family: "Copperplate";
    display: block;
    color: rgba(74,74,74,0.65);
    text-align: center;
    font-size: 18px;
    padding: 25px 65px;
    text-decoration: none;
}

.navigationBar li a:active{
    color: rgba(98, 112, 170, 1);
}

.navigationBar .musifyme a{
    margin: 0px;
    font-family: "Avenir Next";
    display: block;
    color: rgba(74,74,74,1);
    text-align: center;
    font-size: 26px;
    letter-spacing: 0.8px;
    font-weight: 100;
    padding-top: 15px;
    padding-right: 170px;
    padding-left: 55px;
    text-decoration: none;
}


.navigationBar .lists a:hover{
    color: orange;
}

.navigationBar .musifyme a:hover{
    color: orange;
    opacity: 1;
}

.first_imageBack{
	width: 100vw;
	height: 100vh;
	background-image: url("http://music.me/public/images/rockMain.png");
	background-repeat: no-repeat;
		background-size: cover;
	/*margin: 0px;*/
	padding: 0px;
	margin: 0 auto;
}

.firstHeader{
	background-color: rgba(255,255,255,0.25);

	width: 100vw;
	height: 100vh;
}

.rockHeader{
	margin: 0 auto;
	padding: 0 auto;
	color: black;
	font-family: "Phosphate";
	letter-spacing: 0.8px;
	font-size: 53px;
	text-align: center;
	width: 550px;
}

.rockHeader p{
	padding-top: 40%;
	padding-right: 0px;
	margin: 0px;
}

.rockHeader hr{
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.swipeRock{
	padding-top: 54px;
	padding-right: 0px;
	font-size: 45px;
	text-align: center;
	margin: 0px;
	color: rgba(0,0,0,0.4);
	font-family: "Avenir Next";
	animation: fading 5s 1;
}

.second_imageBack{
	margin: 0;
	padding: 0;
	background-image: url("http://music.me/public/images/beatlesCover.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}
#second_btn button{
	background-color: none;
}
.second_cover{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.45);
}

.second_cover button{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.45);
	color: none;
	border-color: none;
	border-width: 0;
}

.second_cover button:hover{
	background-color: rgba(0,0,0,0.65);
}

.second_header{
	margin: 0;
	padding-top: 50px;
	color: white;
	font-size: 55px;
	font-family: "Phosphate";
	text-align: center;
}

.rightSide{
	background-color: none;
	font-family: "Avenir Next";
	padding-top: 50px;
	padding-right: 65px;
	text-align: right;
	font-size: 25px;
	font-weight: 50;
	letter-spacing: 1.2px;
	margin: 0;
	float: right;
	color: white;
}

.desc{
	word-wrap: break-word;
	background-color: none;
	font-family: "Avenir Next";
	text-align: justify;
	padding-top: 30%;
	padding-left: 65px;
	padding-bottom: 35px;
	font-size: 21px;
	font-weight: 20;
	letter-spacing: 1.2px;
	margin: 0;
	float: left;
	color: rgba(196,196,196,1);
}

.player{
	width: 100%;
	height: 420px;
		overflow-x: auto;
	overflow-y: hidden;
}

.song_player{
	display: inline-flex;
	margin-top: 5%;
	margin-left: 4%;
	float: left;
	width: 28%;
	height: 170px;
	background-color: rgba(80,80,80,1);
	border-radius: 8px;
}

.coverImage img{
	margin-top: 7%;
	margin-bottom: 10%;
	margin-left: 7%;
	width: 150px;
	height: 150px;
}

.text_song{
	padding-top: 2%;
	padding-left: 5%; 
	padding-bottom: 2%;
	font-family: "Avenir Next";
	padding-bottom: 0;
	margin-bottom: 0;
	display: block;
}

.title_song p{
	margin: 0;
	font-weight: 500;
	font-size: 21px;
	color: rgba(170,170,170,1);
}

#description{
	font-size: 17px;
	color: white;
	font-weight: 100;
}

#category{
	color: rgba(140,140,140,1);
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	font-size: 17px;
	color: rgba(140,140,140,1);
}

.stars{
	padding-top: 0;
	margin: 0;
}

#duration{
	padding-left: 15%;
	font-family: "Avenir Next";
	color: rgba(170,170,170,1);
	font-size: 17px;
	font-weight: 400;

}

#duration button{
	padding: 0;
	margin: 0;
	width: 45px;
	height: 45px;
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
	border-style: none;
}

#duration img{
	width: 45px;
	height: 45px;
}

#duration img:hover{
	opacity: 0.8;
	background-color: orange;
	border-radius: 50%;
}

.forth_imageBack{
	background-image: url("http://music.me/public/images/queen_thumbnail.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100%;
}

.forth_cover{
	text-align: center;
	margin: 0px;
	padding-top: 45%;
	padding-bottom: 0;
	background-color: rgba(0,0,0,0.65);
	width: 100vw;
	height: 100vh;
}

.forth_cover button{
	background-color: rgba(0,0,0,0);
	border-style: none;
	border-color: rgba(0,0,0,0);
	margin: 0 auto;
}

.forth_cover img{
	width: 250px;
	height: 250px;

}

.footer{
	position: absolute;
	width: 100%;
	background-color: black;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: white;
}

.footer .about{
	float: left; 
	width: 15%;
	padding-bottom: 3%;
	padding-top: 3%;
	padding-left: 10%;
}

.footer .about h2{
	font-family: "Avenir Next";
	text-align: center;
	font-weight: 600;
}

.footer .about p{
	text-align: justify;
	font-family: "Avenir Next";
	font-weight: 450;
}
.footer .about .links a{
	text-align: justify;
	font-size: 18px;
	font-family: "Avenir Next";
	font-weight: 450;
	font-style: normal;
	color: white;
	text-decoration: none;
}

.musi{
    font-family: "Avenir Next";
    display: block;
    color: orange;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.8px;
    font-weight: 10;
    text-decoration: none;
}





